PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=Ichimarugin7
DB_NAME=inventario_espacos_confinados

JWT_SECRET=d99e367dc34edbfe1100c5bf9e053266a7ccf586fcd950bf38a9d8e8815a41cdb7c171a297e1f6bcd95f7d871a96056152813eccba1927cecad409d3d97027a4
JWT_EXPIRES_IN=8h
JWT_ISSUER=inventario-espacos-confinados-api
JWT_AUDIENCE=inventario-espacos-confinados-pwa